.pricing-card {
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.pricing-name{
    text-align: center;
}
.pricing-header {
    background-color: var(--black);
    color: var(--white);
    padding: 30px;
    text-align: left;
}
.pricing-header h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.price {
    font-size: 40px;
    font-weight: 700;
    color: var(--green);
    margin-bottom: 10px;
}
.price span {
    font-size: 16px;
    font-weight: 400;
}
.plan-type {
    text-align: center;
    font-size: 16px;
}

.pricing-body {
    padding: 30px;
}

.features-list {
    margin: 20px 0;
}

.features-list li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.features-list li i {
    color: var(--green);
    margin-right: 10px;
}

.pricing-body .btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

