<div class="pricing-card">
    <div class="pricing-header">
        <h3 class="pricing-name">{{plan_name}}</h3>
        <p class="plan-type price">{{subtitle}}</p>
    </div>
    <div class="pricing-body">
        <p>{{description}}</p>
        <!-- <ul class="features-list">
            <li><i class="fas fa-check"></i> Proin ut turpis nec lectus bibendum</li>
            <li><i class="fas fa-check"></i> Donec venenatis nunc nec dui</li>
            <li><i class="fas fa-check"></i> Viverra risus non gravida maximus</li>
        </ul> -->
        <a href="#" class="btn btn-light">Choose Plan</a>
    </div>
</div>