<footer>
    <div class="container">
        <div class="footer-grid">
            <div class="logo">
                <a href="#">MZ</a> <!-- Asegúrate de agregar un enlace válido si es necesario -->
            </div>
            <div class="footer-contact">
                <h4>Contacto</h4>
                <ul>
                    <li><strong>Ubicación:</strong> Buenos Aires</li>
                    <li><strong>Redes sociales:</strong> mz.devs</li>
                    <li><strong>Teléfono:</strong> +541170001025</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>© 2022 Copyright Todos los derechos reservados <span class="highlight">mz.devs</span></p>
        </div>
    </div>
</footer>
