<footer id="contact">
    <div class="container">
        <div class="footer-grid">
            <div class="logo">
                <a href="#">MZ</a> <!-- Asegúrate de agregar un enlace válido si es necesario -->
            </div>
            <div class="footer-contact"> 
                <h4 class="text-green">Contacto</h4>
                <ul>
                    <li><strong>Ubicación: </strong> Buenos Aires</li>
                    <li><strong>Redes sociales: </strong><a class="text-green" target="_blank" href="https://www.instagram.com/mz.devs/?next=%2Fmatias_mendoza.00%2F">mz.devs</a></li>
                    <li><strong>Teléfono: </strong> +541170001025</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>© 2024 Copyright Todos los derechos reservados <span class="highlight">mz.devs</span></p>
        </div>
    </div>
</footer>
