<header>
    <div class="container">
      <nav>
        <div class="logo">
          <a routerLink="/">MZ</a>
        </div>
        <div class="nav-links" [class.active]="isMenuOpen">
          <ul>
            <li><a href="#home" (click)="closeMenu()">Home</a></li>
            <li><a href="#services" (click)="closeMenu()" class="active">Servicios</a></li>
            <li><a href="#contact"  (click)="closeMenu()">Contacto</a></li>
          </ul>
        </div>
        <div class="menu-toggle" (click)="toggleMenu()">
          <i *ngIf="!isMenuOpen" class="bi bi-list"></i>
          <i *ngIf="isMenuOpen" class="bi bi-x"></i>
        </div>
      </nav>
    </div>
  </header>
  <app-hero></app-hero>