<!--Header-->
<header>
    <div class="container">
        <nav>
            <div class="logo">
                <a>MZ</a>
            </div>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services" class="active">Servicios</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
            </div>
            <div class="menu-toggle" id="menuToggle">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
</header>
<!--Hero-->
<app-hero></app-hero>